
<hr />
<form method="post">
    <input type="text" name="username" value="" />
    <input type="text" name="email" value="" />
    <input type="text" name="phone" value="" />
    <input type="text" name="age" value="" />
    <input type="submit" />
</form>